*{
    padding: 0;
    margin:0;
}
.sec1{
    display:flex;
    height:90vh;
    align-items:center;
    gap:60px;
}
.sec-1-1 {
    margin-left: 100px;
}
.sec-1-1 img{
    width:350px;
    border-radius: 50%;

}
.sec-1-2{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.sec-1-2-1{
    font-weight: 600;
}
p{
    font-size: 18px;
    width:90%;
}
h1{
    font-size: 50px;
    color:darkorange;
}
.sec-1-2-3{
    font-weight: 600;
    font-size: 20px;
}
.social img{
    width:30px;

}
p{
    font-size: 18px;
    width:90%;
}
.btns{
    gap:20px;
    display: flex;

}
.b1{
    padding:10px 20px;
    background-color:transparent;
    border-radius:20px;
    transition:all 0.3s ease;
    font-size:15px;
    font-weight:600;
    border:2px solid black;
    cursor:pointer;
}
.b1:hover{
    background-color: black;
    color:white;
}
.b2:hover{
    background-color: black;
    color:white;
}
.b2{
    padding:10px 20px;
    transition:all 0.3s ease;
    cursor: pointer;
    background-color:transparent;
    border-radius:20px;
    font-size:15px;
    font-weight:600;
    border:2px solid black;
}
.social{
    display: flex;
    gap: 20px;
}
.social img:hover{
    transform:scaler(0.9);
    transition:all 0.3s ease;

}