.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:80vh;
}
.sec-2-1{
     display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-2-1 p{
    font-weight: 600;
}
.sec-2-2{
    display:flex;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 150px;
    gap:60px;

}
.sec-2-2-1{
    
    margin-left: 150px;
}
.sec-2-2-1 img{
    width:300px;
    border-radius:50%;
    
}
.sec-2-2-2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sec-2-2-2-1{
    display: flex;
    gap:20px;

}
p20{
    width: 80%;

}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    width:300px;
    padding:20px;
    border-radius: 20px;
    gap:5px;
}
.box img{
    width: 35px;

}
.box >:nth-child(2){
    font-size:20px;
    font-weight: 600;

}.box >:nth-child(3){
    font-size:17px;
    font-weight: 600;
    
}
.box >:nth-child(4){
    font-size:17px;
    font-weight: 600;
    
}
.sec-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:80vh;
    padding-top: 100px;
    gap:100px;
    margin-bottom: 50px;
}
.sec-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sec-3-2{
    display: flex;
    gap:50px
}
.box2{
    border:2px solid black;
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    gap:15px;
}
.box2>:nth-child(1){
    font-size: 24px;
    font-weight: 600;
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    gap:40px;
    
}
.skills-1 img{
    width:30px;
    
}
.skills-1-2>:nth-child(1){
    font-size: 18px;
    font-weight: 600;

}
.skills-1{
    display: flex;
}
.skills-1-2{
    display: flex;
    flex-direction: column;
}
.sec-3-2{
    display: flex;

}
.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap:50px;
}
.sec-4-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box3{
    width:350px;
    display: flex;
    flex-direction: column;
    border:2px solid black;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    gap:15px
}
.sec-4-2{
    display:flex;
    gap:50px;
}
.box3 img{
    width: 300px;
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.24)0px 3px 8px;
}
.box-3-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.box-3-2>:nth-child(1){
    font-size: 22px;
    font-weight: 600;

}
.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-top: 130px;
}
.sec5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
.sec5-1>:nth-child(1){
    font-weight:600;

}
.sec5-2{
    display: flex;
    gap:30px;
    border:2px solid black;
    padding: 25px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.a1 img{
    width:35px;
}
.a2 img{
width:28px;
}
.a1{
display: flex;
align-items: center;
gap:10px;

}
.a2{
display: flex;
align-items: center;
gap:10px;
}
.a1 span,.a2 span{
    font-weight:600;

}
.sec6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap:80px;
}
.sec6>:nth-child(2){
    margin-top:30px;
    margin-bottom: 20px;
    font-weight:600;
    font-size: 14px;

}