@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body{
    font-family: 'Times New Roman', Times, serif,sans-serif;
    /* font-weight: 100; */
    font-style: normal;

}
a{
    text-decoration: none;
    color:black;
    transition:all 0.3s ease;
    
}
html{
    scroll-behavior: smooth;
}
a:hover{
    color:darkorange;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:darkorange;
}
.navbar-menu{
    display:none;
}
.navbar{
    display:flex;
    align-items: baseline;
    height:70px;
    padding:0px 100px;
}
.logo{
    width:40%;
    font-size: 30px;
    font-weight: 600;
    color:orange;
}
.menu-bar{
    list-style:none;
    display: flex;
    width:60%;
    justify-content: space-around;
}
.menu-bar li{
    font-size: 20px;
}
@media(max-width: 1024px){
    .navbar{
        display: none;
    }
}